.messages-card {
	min-height: 290px;
}
.messages-card p {
	overflow-y: scroll;
	max-height: 240px;
}

.messages-card p::-webkit-scrollbar {
	width: 5px;
}

.chat-profile {
	border-radius: 50%;
}
.chat-box {
	border-radius: 30px;
}
.chat-time {
	margin-left: 14%;
}
/* custom scroll bar */

/* Track */
.messages-card p::-webkit-scrollbar-track {
	box-shadow: inset 0 0 2px grey; 
	border-radius: 500px;
}

/* Handle */
.messages-card p::-webkit-scrollbar-thumb {
	background: #d3d3d3; 
	border-radius: 500px;
}

/* Handle on hover */
.messages-card p::-webkit-scrollbar-thumb:hover {
	background: #808083; 
}