* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	background-color: #eaecf4 !important;
	font-family: 'Open Sans', sans-serif;
}
.bg-gray-100 {
	background-color: #f8f9fc !important;
}

.bg-gray-200 {
	background-color: #eaecf4 !important;
}

.bg-gray-300 {
	background-color: #dddfeb !important;
}

.bg-gray-400 {
	background-color: #d1d3e2 !important;
}

.bg-gray-500 {
	background-color: #b7b9cc !important;
}

.bg-gray-600 {
	background-color: #858796 !important;
}

.bg-gray-700 {
	background-color: #6e707e !important;
}

.bg-gray-800 {
	background-color: #5a5c69 !important;
}

.bg-gray-900 {
	background-color: #3a3b45 !important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	color: #14213d;
}
h1 {
	font-weight: 900;
}
h2 {
	font-weight: 800;
}
h3 {
	font-weight: 700;
}
h4 {
	font-weight: 600;
}
h5 {
	font-weight: 500;
}
h6 {
	font-weight: 500;
}